{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    #checkoutMethods {
        background: #fff;
        border-radius: 2px;
        display: inline-block;
        max-height: 700px;
        margin: 1rem;
        position: relative;
        width: 700px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
    body {
        /* padding-top: 70px; */
        font-family: Poppins;
    }
</style>
<body>
    <div class="all-title-box" style="background-color:#b0b435">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Checkout</h2>
                </div>
            </div>
        </div>
    </div> <br><br>
    <div class="container">
        <section>
            <div class="row" id="tablerow">
                <div class="col-md-5 col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <h5 style="font-size: 24px;font-weight: 700;text-transform: uppercase;">Deliver Address<br><small></small></h5>
                            <div>
                                <form action="" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <input type="submit" class="btn btn-warning btn-lg btn-block" style ="background-color: #b0b435;border:none;"value="Checkout" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-xs-12"></div>
                <div class="col-md-6 col-xs-12">
                    <br>
                    <h5 style="font-size: 24px;font-weight: 700;text-transform: uppercase;">Your Order Summary</h5>
                    <table class="table">
                        <tr>
                            <td>
                                {% for item in order.get_cart_items %}
                        <tr>
                            <td>{{ item }}</td>
                            <td>${{ item.grocery.price }}</td>
                        </tr>
                        {% endfor %}
                        </td>
                        </tr>
                        <tr>
                            <td><strong>Order Total</strong> </td>
                            <td> <strong>${{ order.get_cart_total }}</strong></td>
                        </tr>
                    </table>
                </div>
            </div>
            </div>
        </section>
 
        <div class="footer-copyright">
            <p class="footer-company">All Rights Reserved. &copy; 2021 <a href="#">NYARUGENGE MARKET</a> </p>
        </div>
        
        <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>
        
        <!-- {% if parcel.is_paid == False and parcel.status == 'Accepted' %}
<form>
    <script src="https://checkout.flutterwave.com/v3.js"></script>
    <button type="button" onClick="makePayment()" class="btn btn-success">Pay Now</button>
</form>
{% endif %}

{% endblock %}

{% block scripts %}
<script>
  function makePayment() {
    FlutterwaveCheckout({
      public_key: "FLWPUBK_TEST-SANDBOXDEMOKEY-X", // Account number of the POST OFFICE
      tx_ref: "{{parcel.tracking_number}}",
      amount: {{parcel.total_price}},
      currency: "RWF",
      country: "RW",
      payment_options: "card, mobilemoneyrwanda",
      redirect_url: "http://localhost:8000/parcel-payment/{{parcel.tracking_number}}",
      meta: {
        consumer_id: 23,
        consumer_mac: "92a3-912ba-1192a",
      },
      customer: {
        email: "{{user.email}}",
        phone_number: "{{user.username}}",
        name: "{{user.get_full_name}}",
      },
      callback: function (data) {
        console.log(data);
      },
      onclose: function() {
        // close modal
      },
      customizations: {
        title: "NYARUGENGE MARKET",
        description: "Payment for mail {{parcel.tracking_number}}",
        logo: "https://assets.piedpiper.com/logo.png",
      },
    });
  }

</script>  -->
        {% endblock %}