{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% load crispy_forms_tags %}
{% block content %}






<body>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }} p-3 mb-2 bg-success text-white" {% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <section>
          <div class="table-responsive text-nowrap">
            <table class="table table-hover table-bordered text-center">
              <thead>
                <tr class="text-center">
                  <th>no.</th>
                  <th>Item title</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Total price</th>

                </tr>
              </thead>
              <tbody>
                {% for item in order %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>
                    {{ item.items.grocery.name }}
                    <span class="pull-right">
                      <a href="{% url 'delete_item' item.id %}" data-balloon="remove this item from cart"
                        class="text-danger">
                        <i class="fas fa-trash"></i>
                      </a>
                    </span>
                  </td>
                  <td>{{ item.items.grocery.price }}</td>

                  <td class="quantity-box">{{ item.items.quantity }}</td>

                  <!-- <td>
                    <p id="total"></p>
                    </td> -->


                  <td class="subtotal">{{item.items.grocery.price|mul:item.items.quantity}}</td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan=5> You have not added any items yet.</td>
                </tr>
                {% endfor %}

                <tr>
                  {% if order.get_cart_total != None %}
                  <!-- <td colspan="5"><strong>Order Total: {{ order.get_cart_total }}rwf</strong></td> -->
                  <td colspan="5"><strong id="maintotal"></strong></td>
                </tr>
                {% endif %}
                <tr>
                  <td colspan=1>
                    <a href="{% url 'grocery_list' %}" class="btn btn-warning pull-left">
                      {% if order %}Continue Shopping{% else %}Add Items to Cart {% endif %}
                    </a>
                  </td>
                  <td colspan=5>
                    {% if order %}
                    <a href="{% url 'checkout' %}" class="pull-right btn btn-primary">Proceed To Checkout</a>
                    {% endif %}
                  </td>
                </tr>
            </table>
            </tbody>
          </div>

        </section>
      </div>
    </div>
  </div>
<body>
  <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
   <script type="text/javascript">
    $(".quantityid").keyup(function(){
      
    if($('.quantityid').val() != ""){
          var s_total = parseInt($('.quantityid').val()) * parseInt($('.priceid').val());
          $('.subtotal').text(s_total);

     }
    });

    function calculateTotalSum(){
      var maint = 0;
      $('.subtotal').each(function(){
          maint += parseInt($('.subtotal'));
          alert(text($('.subtotal')));
      });
    }

    </script>
  
{% endblock %}
 