<footer style="text-align: center;">
    <div>
        <div>
            
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-widget">
                        <h4 style="color: rgb(51, 51, 51);">Nyarugenge Market</h4>
                        <p style="color: rgb(51, 51, 51);">The Nyarugenge Market, located at the heart of Kigali. 
                            One Can Trust With Not Just Variety But Also Synonymous
                             With Quality Groceries. Shopping And Home Delivery Experience
                              Of Groceries Is Now Much Easier To Access Than Before.
                              Quality Groceries Wherever You May Be in Kigali.</p> 
                                                
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-link">
                        <h4 style="color: rgb(51, 51, 51);">Information</h4>
                        <ul>
                            <li ><a href="#" style="color: rgb(51, 51, 51);">About Us</a></li>
                            <li><a href="#"  style="color: rgb(51, 51, 51);">Customer Service</a></li>
                            <li><a href="#"  style="color: rgb(51, 51, 51);">Shop with us</a></li>
                            <!-- <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li> -->
                            <li><a href="#"  style="color: rgb(51, 51, 51);">Delivery Information</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-link-contact">
                        <h4 style="color: rgb(51, 51, 51);">Contact Us</h4>
                        <ul>
                            <li>
                                <p style="color: rgb(51, 51, 51);"><i class="fas fa-map-marker-alt"></i>Address: KN 2 St <br>Kigali<br> </p>
                            </li>
                            <li>
                                <p style="color: rgb(51, 51, 51);"><i class="fas fa-phone-square"></i>Phone: <a href="#" style="color: rgb(51, 51, 51);">0788 525 816</a></p>
                            </li>
                            <li>
                                <p style="color: rgb(51, 51, 51);"><i class="fas fa-envelope"></i>Email: <a style="color: rgb(51, 51, 51);" href="mailto:nyarugenge@market.com">nyarugenge@market.com</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div style="padding:40px; background: #fff;">
        <p style="color: rgb(51, 51, 51); text-align: center;" class="footer-company">All Rights Reserved. &copy; 2020 <a href="#">Nyarugenge Market</a>
        
        </p>
    </div>