{% extends "base.html" %}
{% load static %}
{% block content %}
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="products-box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-all text-center">
                            <h1>Our Gallery</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="special-menu text-center">
                            <div class="button-group filter-button-group">
                                <button class="active" data-filter="*">All</button>
                                <button data-filter=".bulbs">sea food</button>
                                <button data-filter=".fruits">Fruits</button>
                                <button data-filter=".podded-vegetables"> vegetables</button>
                                <button data-filter=".root-and-tuberous">meat</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row special-list">
                    <div class="col-lg-3 col-md-6 special-grid bulbs">
                        <div class="products-single fix">
                            <div class="box-img-hover">
                              
                                <img src="../media/groceries/orange.jpg" class="img-fluid" alt="Image">
                                <div class="mask-icon">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 special-grid fruits">
                        <div class="products-single fix">
                            <div class="box-img-hover">
                                <img src="../media/groceries/tomatoes.png" class="img-fluid" alt="Image">
                                <div class="mask-icon">

                                </div>
                            </div>                        
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 special-grid bulbs">
                        <div class="products-single fix">
                            <div class="box-img-hover">
                                <img src="../media/groceries/jonathan-pielmayer-eFFnKMiDMGc-unsplash_Dikqrrx.jpg" class="img-fluid" alt="Image">
                                <div class="mask-icon">
                                                                  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 special-grid fruits">
                        <div class="products-single fix">
                            <div class="box-img-hover">                            
                                <img src="../media/groceries/mary-winchester-ax9t3CsGwqc-unsplash.jpg" class="img-fluid" alt="Image">
                                <div class="mask-icon">
                                    <ul>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                    </ul>                                
                                </div>
                            </div>                        
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 special-grid bulbs">
                        <div class="products-single fix">
                            <div class="box-img-hover">
                                <img src="" class="img-fluid" alt="Image">
                                <div class="mask-i/../media/groceries/thomas-vogel-Xbu1zW9gmDY-unsplash.jpgcon">
                                    <ul>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 special-grid fruits">
                        <div class="products-single fix">
                            <div class="box-img-hover">                            
                                <img src="../media/groceries/thomas-vogel-Xbu1zW9gmDY-unsplash.jpg" class="img-fluid" alt="Image">
                                <div class="mask-icon">
                                    <ul>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 special-grid podded-vegetables">
                        <div class="products-single fix">
                            <div class="box-img-hover">
                                <img src="images/gallery-img-07.jpg" class="img-fluid" alt="Image">
                                <div class="mask-icon">
                                    <ul>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 special-grid root-and-tuberous">
                        <div class="products-single fix">
                            <div class="box-img-hover">                            
                                <img src="images/gallery-img-08.jpg" class="img-fluid" alt="Image">
                                <div class="mask-icon">
                                    <ul>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                    </ul>
                                </div>
                            </div>                        
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 special-grid root-and-tuberous">
                        <div class="products-single fix">
                            <div class="box-img-hover">                            
                                <img src="images/gallery-img-09.jpg" class="img-fluid" alt="Image">
                                <div class="mask-icon">
                                    <ul>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 special-grid podded-vegetables">
                        <div class="products-single fix">
                            <div class="box-img-hover">
                                <img src="images/gallery-img-10.jpg" class="img-fluid" alt="Image">
                                <div class="mask-icon">
                                    <ul>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    </html>
{% endblock content %}