{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .card-img {
        width: 100%;
        height: 38vw;
        object-fit: cover;
    }

    .card-img-top {
        width: 100%;
        /* height: 15vw; */
        object-fit: cover;
    }

    
</style>

<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }} p-3 mb-2 bg-success text-white" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
   

    <div class="container">

        {% if object_list %}
        <h3 class="text-center m-4">Found {{ object_list|length }} Groceries</h3>
        {% else %}
        <h3 class="text-center m-4" >Found {{ object_list|length }} Groceries</h3>
        {% endif %}
        <div class="text-center">
            {% for category in categorys %}

            <a class="mr-1 badge badge-info" href="/categories/{{category.name}}"
                style="margin:8px">#{{category.name}}</a>
            {% endfor %}
        </div>
        <hr>

        <div class="row justify-content-center">
            {% for object in object_list %}

            <div class="card col-md-3 m-3">
                <a href="{% url 'comment' object.pk %}"><img class="card-img-top" width="100%"
                        src="{{object.grocery_pic.url}}" alt="-------"></a>

                <div class="card-body">
                    <h5 class="card-title"><span>{{ object.name|title }}</span></h5>
                    <p>Price: ${{ object.price }}</p>
                    {% if object in current_order_groceries %}
                    <a href="{% url 'order_summary' %}" class="btn btn-warning">Go to Cart</a>
                    <a href="#" class="btn btn-secondary" data-toggle="modal" data-target="#{{object.id}}">View item</a>

                    {% else %}
                    <a href="{% url 'add_to_cart' object.id %}" class="btn btn-warning">Add to Cart</a>
                    <a href="#" class="btn btn-secondary" data-toggle="modal" data-target="#{{object.id}}">View item</a>
                    {% endif %}

                   <div class="modal fade " id="{{object.id}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    </div>
                        

                     
                    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                        <div class="modal-content modalcard">
                            <div class="shop-detail-box-main">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xl-5 col-lg-5 col-md-6">
                                            <img class="d-block w-100 img-fluid" src="{{object.grocery_pic.url}}" alt="{{object.name}}"
                                                />
                                        </div>
                                        <div class="col-xl-7 col-lg-7 col-md-6">
                                            <div class="single-product-details">
                                                <h2>{{object.name|title}}</h2>
                                                <h5> <del>60.00 rwf </del> {{object.price}}rwf</h5>
                                                <p>
                                                <h4>Short Description:</h4>
                                                <p>{{object.description}}</p>
                                                <h4>Category</h4>
                                                <p>{{object.category}}</p>
                                                <ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
        </div>





            {% endfor %}
        </div>
    </div>
</body>
{% endblock content %}